In [2]:
import pandas as pd
from  sklearn.preprocessing import OneHotEncoder
import numpy as np

In [3]:
train = pd.read_csv("data/train_set.csv")

In [4]:
train.head(10)

,id,article,word_seg,class
0,0,7368 1252069 365865 755561 1044285 129532 1053...,816903 597526 520477 1179558 1033823 758724 63...,14
1,1,581131 165432 7368 957317 1197553 570900 33659...,90540 816903 441039 816903 569138 816903 10343...,3
2,2,7368 87936 40494 490286 856005 641588 145611 1...,816903 1012629 957974 1033823 328210 947200 65...,12
3,3,299237 760651 299237 887082 159592 556634 7489...,563568 1239563 680125 780219 782805 1033823 19...,13
4,4,7368 7368 7368 865510 7368 396966 995243 37685...,816903 816903 816903 139132 816903 312320 1103...,12
5,5,7368 1160791 299237 1238054 569999 1044285 117...,816903 669476 21577 520477 1004165 4184 616471...,13
6,6,893673 7368 836872 674898 231468 856005 105964...,277781 816903 1098157 986174 1033823 780491 10...,1
7,7,1122654 125310 907560 1172361 979583 983951 12...,289186 640942 363388 585102 261174 1217680 520...,10
8,8,793790 599682 1223643 1030656 569999 178976 45...,1257015 966562 1054308 599826 811205 520477 28...,10
9,9,7368 1120647 360394 79747 1140778 472252 7368 ...,816903 266069 1226448 1276450 816903 769051 12...,19

In [5]:
result = pd.read_csv("sub_lr_baseline.csv")

In [7]:
result[:20]

    id  class
0    0      5
1    1      4
2    2     13
3    3      4
4    4      5
5    5      5
6    6     15
7    7     19
8    8      3
9    9     12
10  10     10
11  11      8
12  12      5
13  13     13
14  14     15
15  15     18
16  16      9
17  17      9
18  18      3
19  19     14

In [4]:
new_train = train.rename(columns={'class': 'article_class'},inplace=False)

In [5]:
new_train.head()

,id,article,word_seg,article_class
0,0,7368 1252069 365865 755561 1044285 129532 1053...,816903 597526 520477 1179558 1033823 758724 63...,14
1,1,581131 165432 7368 957317 1197553 570900 33659...,90540 816903 441039 816903 569138 816903 10343...,3
2,2,7368 87936 40494 490286 856005 641588 145611 1...,816903 1012629 957974 1033823 328210 947200 65...,12
3,3,299237 760651 299237 887082 159592 556634 7489...,563568 1239563 680125 780219 782805 1033823 19...,13
4,4,7368 7368 7368 865510 7368 396966 995243 37685...,816903 816903 816903 139132 816903 312320 1103...,12

In [6]:
new_train['article_class'].describe()

count    102277.000000
mean         10.262356
std           5.370785
min           1.000000
25%           6.000000
50%          10.000000
75%          15.000000
max          19.000000
Name: article_class, dtype: float64

In [6]:
y_train = pd.get_dummies(new_train['article_class'])

In [7]:
x_train = list(new_train.article)

In [8]:
y = y_train.values

In [9]:
y[:5]

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]],
      dtype=uint8)

In [10]:
ohe = OneHotEncoder(categorical_features=[0])

In [11]:
import re
import tensorflow as tf
from tensorflow.contrib import learn

In [12]:
word_seg = list(new_train.word_seg)

In [13]:
word_seg_length = max([len(x.split(" ")) for x in word_seg])
word_seg_length

39759

In [14]:
# Build vocabulary
max_document_length = max([len(x.split(" ")) for x in x_train])
vocab_processor = learn.preprocessing.VocabularyProcessor(5000)
x_word = np.array(list(vocab_processor.fit_transform(word_seg)))

In [15]:
max_document_length

55804

In [15]:
new_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102277 entries, 0 to 102276
Data columns (total 4 columns):
id               102277 non-null int64
article          102277 non-null object
word_seg         102277 non-null object
article_class    102277 non-null int64
dtypes: int64(2), object(2)
memory usage: 3.1+ MB

In [16]:
lens = new_train.word_seg.str.len()

In [17]:
lens.mean()

5118.650067952716

In [18]:
new_train['word_len']=0

In [30]:
i = 0
for x in x_train:
    new_train['word_len'][i] = len(x.split(" ")) 
    i += 1

/home/ginko/.local/lib/python3.5/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [29]:
new_train.head()

,id,article,word_seg,article_class,word_len
0,0,7368 1252069 365865 755561 1044285 129532 1053...,816903 597526 520477 1179558 1033823 758724 63...,14,2
1,1,581131 165432 7368 957317 1197553 570900 33659...,90540 816903 441039 816903 569138 816903 10343...,3,0
2,2,7368 87936 40494 490286 856005 641588 145611 1...,816903 1012629 957974 1033823 328210 947200 65...,12,0
3,3,299237 760651 299237 887082 159592 556634 7489...,563568 1239563 680125 780219 782805 1033823 19...,13,0
4,4,7368 7368 7368 865510 7368 396966 995243 37685...,816903 816903 816903 139132 816903 312320 1103...,12,0